<body>
    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Read all insights about our blogs!</p>
    </section>
    <section id="about-head" class="section-p1">
        <img src="/img/blog1.jpg" alt="">
        <div>
        <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur.</p>
            <abbr title="">Create Stunning images with as much or as little control as you like thanks to a choice
                of Basic and creative modes.</abbr>
                <br><br>
                <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Create Stunning images with as much or as little control as you like thanks to a choice
                    of Basic and creative modes.</marquee>
            </div>
    </section>
    <section id="about-app" class="section-p1">
        <h1>Download Our <a href="#" style="color: blue;">App</a></h1>
        <div class="video">
            <img src="/img/video.png">
        </div>
    </section>           
</body>